# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Local files
.env
*.log

# OS files
.DS_Store
Thumbs.db

# Data files
data/raw/
data/processed/

# Notebooks
notebooks/