# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
logs/
*.log

# Data
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

# Model experiments
mlruns/